# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore logs
*.log

# Ignore temporary files
*.tmp

# Ignore build directories
/build/
/dist/

# Ignore models directory if not needed in version control
/models/

